:root{
    --bg-color: #172937;
    --bg-upper: #253644;
    --underline-heading: orange;
    --main-color: rgb(107, 70, 70);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 40px; 
    background-color: var(--bg-color);
}

@media (max-width: 992px) {
  
  p{
    font-size: 12px;
  }
  h2, h3, h6{
    font-size: small;
  }
}


@media (max-width: 320px){
    .container{
        display: none;
    }
}
